

.grid {
  
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;

}

.handset-container {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.medium-container {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}


.item {
  cursor: pointer;
}