{
  font-family: Verdana;
}

@media only screen and (max-device-width: 650px) {
  h1{
    font-size: 16px;
  }

  p{
    font-size: 12px;
  }
  .titulo-filtro{
    width: 60%;
  }

  .titulo-filtro p{
    margin-left: 50px;
  }
  .filtro-pesquisa{
    width: 40%;
  }

  .cabecalho{
    width: 100%;
  }
}

.divPrincipal{
  width: 100%;
  height: auto;
}

.cabecalho{
    background-color: #000000;
    width: 50%;
    height: 100px;
    padding-top: 1%;
    text-align: center;
    margin-left: 24%;
    font-family: Verdana;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #000000;
    text-shadow: 1px 1px 10px #000000;
}

h1 font{
  color: #00bd55;
}

.filtro{
    width: 100%;
    height: 80px;
    margin-top: 4%;
    font-family: Verdana;
    color: #ffffff;
    font-size: 14px;
}

.filtro label{
  margin-left: auto;
  margin-top: 0.8%;
  margin-right: 1%;
  float: left;
}

.titulo-filtro{
  width: 40%;
  height: 100%;
  text-align: right;
  float: left;
}

.titulo-filtro p{
  margin-right: 10px;
  font-size: 20px;
}

.filtro-pesquisa{
  width: 60%;
  height: 100%;
  float: left;
}

.inputSearch{
    width: 45%;
    height: 25px;
    /* margin-top: 7px; */
    float: left;
    font-size: 18px;
}

.btnSearch{
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-top: -2px;
    margin-left: 10px;
    /* border-radius: 50px; */
    border: none;
    cursor: pointer;
    background-color: #ffffff;
}

button:focus {outline:0;}

.btnSearch i{
    width: 20px;
    height: 20px;
    background-image: url(../img/searchIcon.png);
    background-size: contain;
    background-repeat: no-repeat;
    float: left;
}

.btnSearch:hover{
    background-color: rgb(187, 187, 187);
}

.item{
    width: 15%;
    height: 400px;
    float: left;
    margin-right: 20px;
    margin-left: 40px;
    margin-top: 30px;
}

.sliderTitle{
    width: 100%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    font-family: verdana;
    color: #ffffff;
}

.sliderBody{
    width: 250px;
    height: 350px;
}

.sliderBody img{
    width: inherit;
    height: inherit;
}

.card-nome{
  width: 285px;
  height: 470px;
  /* margin-top: 90px; */
  margin-left: 70px;
  float: left;
  background-color: #232323;
}

.titulo{
  text-align: center;
  margin: 40px auto 30px;
}

.flip-card{
  width: 250px;
  height: 350px;
  margin: auto;
  cursor: pointer;
}

.flip-card-back{
  background-color: #000000;
  color: #ffffff;
  transform: rotateY(180deg);
  z-index: 1;
}

.flip-card-back .back-header{
  height: 45%;
  text-align: center;
}

.flip-card-back .back-header img{
  width: 50%;
  margin-top: 20px;
}

.flip-card-inner{
  position: relative;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-back, .flip-card-front{
  position: absolute;
  width: 100%;
  height: 100%;
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
  backface-visibility: hidden;
}
.flip-card-back .back-footer{
  height: 48%;
  padding: 0 15px;
}

.back-footer p{
  text-align: left;
  margin: 2px;
  padding: 0;
}
