#p-details {
  background-color: #272b30;

  width: 100%;
  height: 100%;

  #detail-box {
    background-color: #1c1e22;
    color: #c9c9ca;
    margin-top: 30px;
    padding: 30px;
    border-radius: 8px;
  }
}