@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  color: #ebebeb;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  max-height: 100vh;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html, body {
  color: #ebebeb;
  font-size: 16px;
  font-family: 'Poppins', Roboto, Helvetica, sans-serif;
}