<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>

    <div class="top-container">
      <mat-toolbar class="mat-elevation-z3" >
        <button
          type="button"
          aria-label="Back"
          routerLink=""
          mat-icon-button
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span *ngIf="character$ | async as character">{{ character.name }}</span>
      </mat-toolbar>
      
      <div class="progress-wrapper">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    
    <div class="card-wrapper">
      <app-character-card 
        *ngIf="character$ | async as character" 
        [showDetail]="true"
        [character]="character"
      ></app-character-card>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>
