<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>

    <div class="top-container">
      <mat-toolbar class="mat-elevation-z3" >
        <button
          type="button"
          aria-label="Back"
          routerLink=""
          mat-icon-button
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span *ngIf="character$ | async as character">{{ character.name }}</span>
      </mat-toolbar>
      
      <div class="progress-wrapper">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>
    
    <div *ngIf="!error; else errorMsg" class="card-wrapper">
      <app-character-card 
        *ngIf="character$ | async as character" 
        [showDetail]="true"
        [character]="character"
      ></app-character-card>
    </div>
    
  </mat-sidenav-content>
</mat-sidenav-container>


<ng-template #errorMsg>
  <div class="error-msg-wrapper">
    <mat-icon color="warn">error_outline</mat-icon>

    <div class="msg">Houve um erro. <br>Tente novamente.</div>
      
    <button mat-raised-button color="primary" (click)="load()">Tentar novamente</button>

  </div>
</ng-template>