body{
    background:url('../assets/star-wars-backgrounds-25.jpg');
}

.container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 2fr));
    grid-gap: 20px;
    justify-content: center;
    padding: 20px;
}

.title{
    color: #FFE300;
    text-align: center;
    font-family: 'Star Jedi', arial;
}
.character-container{
    color: white;
    padding: 15px 15px 40px;
    text-align: center;
    background-color: black;
    border: 1px solid #FFE300;
    box-shadow: #FFE300 20%;
}