@keyframes move-twink-back {
  from {background-position:0 0;}
  to {background-position:-10000px 5000px;}
}

header {
  color:#ffffff;
  position:relative;
  padding-top: 15px;
}

.stars, .twinkling {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
}

.stars {
  background:#000 url(../assets/images/stars.png) repeat top center;
}

.twinkling{
  background:transparent url(../assets/images/twinkling.png) repeat top center;
  animation:move-twink-back 200s linear infinite;
}

.logo {
	text-align: center;
}

.title {
	font-family: "jedi-outline";
  font-size: 4em;
  color: yellow;
}

.subtitle {
	font-family: 'jedi-subtitle';
	letter-spacing: .75em;
	font-size: .75em;
  margin-top: 10px;
}

.app-components {
  position: relative;
}
