<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="../assets/img/leia.png" style="max-height: 100%; width: 100%;">
    </a>
    <a class="navbar-item" href="/">
      <img src="../assets/img/luke.png" style="max-height: 100%; width: 100%;">
    </a>
    <a class="navbar-item" href="/">
      <img src="../assets/img/han.png" style="max-height: 100%; width: 100%;">
    </a>
  </div>
</nav>

<section class="section">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</section>