page-home {
  .cards{
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(239, 239, 239, 0.03);
    color: #fff;
    border-radius: 10px;
    z-index: 1;
  }
  .item-md{
    background-color: transparent;
    color: #fff;
  }


  ion-col#img{
    z-index: 2;
    border-radius: 10px;
    background-image: url('./../../assets/imgs/logo2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 50%;
  }

  ion-col.list.col{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container{
    padding: 0px;
  }

}
