#character > .container {
  max-width: 700px;
}

.character__info {
  line-height: 1.7;
  font-size: 1.1em;
}

.character__info h2 {
  margin-bottom: var(--space-normal);
}

#btn-back {
  width: 100%;
  max-width: 130px;
  font-size: 1.1em;
  border: 1px solid var(--color-blueGrey-900);
  color: var(--color-blueGrey-900);
  display: block;
  padding: var(--space-small) 0;
  margin: var(--space-medium) auto;
  text-align: center;
}
