<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>

    <div class="top-container">
      <mat-toolbar class="mat-elevation-z3" >
        <span>Personagens Star Wars</span>
      </mat-toolbar>
      
      
      <div class="progress-wrapper">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </div>
    </div>


    <app-characters-grid [characters]="shownCharacters$ | async"></app-characters-grid>

  </mat-sidenav-content>
</mat-sidenav-container>
