<div *ngIf="!characterSelected" class="characters">
  <div class="charactersList">
      <div *ngFor="let character of characters?.results; index as i" (click)="selectCharacter(character)" class="charactersContainer" >
          <img [src]="imageUrl(getIdFromUrl(character.url))" alt="">
          <div class="charactersInfo">
            <h3>{{character.name}}</h3>
            <span>specie</span>
            <span style="float: right;">{{character.birth_year}}</span>
          </div>
      </div>
  </div>
  <button class="btn-viewMore" *ngIf="characters?.count > characters?.results.length" (click)="getCharacters()">View more</button>
</div>


<div class="characterDetails" *ngIf="characterSelected">
  <div class="characterDetails-container">
      <img [src]="imageUrl(getIdFromUrl(characterSelected.url))" alt="">
      <div class="characterDetails-info">
          <a class="btn-close" (click)="close()"><img src="../../assets/images/icon-close.png" alt="Close"></a>
        <h3>{{characterSelected.name}}</h3>
        <p>birth year: {{characterSelected.birth_year}}</p>
        <p>eye color: {{characterSelected.eye_color}}</p>
        <p>gender: {{characterSelected.gender}}</p>
        <p>hair color: {{characterSelected.hair_color}}</p>
        <p>height: {{characterSelected.height}}</p>
        <p>mass: {{characterSelected.mass}}</p>
        <p>skin color: {{characterSelected.skin_color}}</p>
        <!-- <p>homeworld: {{characterSelected.homeworld}}</p> -->
        <!-- <p>films: {{characterSelected.films}}</p>
        <p>species: {{characterSelected.species}}</p> -->
      </div>
  </div>
</div>

<div *ngIf="!characters" class="loading">
  <img src="../../assets/images/millennium-falcon.gif" alt="Loading">
</div>
