<div *ngIf="!characterSelected" class="characters">
  <div class="charactersList">
      <div *ngFor="let character of characters?.results; index as i" (click)="selectCharacter(character)" class="charactersContainer" >
        <div class="charactersInfo">
            <img [src]="imageUrl(getIdFromUrl(character.url))" alt="">
            <div class="charactersInfoBox">
              <h3>{{character.name}}</h3>
              <span>Birth year: {{character.birth_year}}</span>
            </div>
        </div>
      </div>
  </div>
  <button class="btn-viewMore" *ngIf="characters?.count > characters?.results.length" (click)="getCharacters()">View more</button>
</div>


<div class="characterDetails" *ngIf="characterSelected">
  <div class="characterDetails-container">
      <img [src]="imageUrl(getIdFromUrl(characterSelected.url))" alt="">
      <div class="characterDetails-info">
          <a class="btn-close" (click)="close()"><img src="../../assets/images/icon-close.png" alt="Close"></a>
        <h3>{{characterSelected.name}}</h3>
        <div class="characterDetails-infoBox">
            <div>
                <p>Birth year: {{characterSelected.birth_year}}</p>
                <p>Eye color: {{characterSelected.eye_color}}</p>
                <p>Gender: {{characterSelected.gender}}</p>
                <p>Hair color: {{characterSelected.hair_color}}</p>
                <p>Height: {{characterSelected.height}}</p>
                <p>Mass: {{characterSelected.mass}}</p>
                <p>Skin color: {{characterSelected.skin_color}}</p>
            </div>
            <div>
                <p>Homeworld: {{planets?.name}}</p>
                <p>Films:</p>
                <p *ngFor="let film of films">{{film.title}}</p>
                <p>Specie: {{species?.name}}</p>
            </div>
        </div>
      </div>
  </div>
</div>

<div *ngIf="!characters" class="loading">
  <img src="../../assets/images/millennium-falcon.gif" alt="Loading">
</div>
