.loading {
  margin-top: 15vh;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

h3 {
  font-family: "jedi";
  margin-bottom: 5px;
  height: 35px;
}

.characters {
  margin: 20px 0;
  .charactersList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, auto));
    margin: 0 auto;
    width: 70%;
    .charactersContainer{
      margin: 10px;
      padding: 5px;
      border: 2px solid yellow;
      border-radius: 2px;
      .charactersInfo {
        background-color: #fff;
        height: 100%;
        border-radius: 2px;
        img {
          max-width: 100%;
          border-radius: 2px 2px 0 0;
        }
        .charactersInfoBox {
          border-radius: 0 0 2px 2px;
          background-color: #fff;
          padding: 10px;
        }
      }
    }
  }
  .btn-viewMore {
    background-color: transparent;
    border: 2px solid yellow;
    padding: 5px 15px;
    color: #fff;
    margin: 15px auto;
    display: block;
  }

  @media (max-width: 1024px) {
    .charactersList {
      width: 100%;
    }
  }

  @media (min-width: 1543px) {
    .charactersList {
      width: 60%;
    }
  }
  @media (min-width: 1800px) {
    .charactersList {
      width: 50%;
    }
  }

  @media (min-width: 2160px) {
    .charactersList {
      width: 90%;
      margin-top: 10vh;
    }
  }
}

.characterDetails{
  margin: 30px 10px;
  display: flex;
  .characterDetails-container {
    padding: 5px;
    border: 2px solid yellow;
    border-radius: 2px;
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    img{
      width: 300px;
      border-radius: 2px 0 0 2px;
    }
    .characterDetails-info {
      padding: 10px;
      background-color: #fff;
      width: 300px;
      border-radius: 0 2px 2px 0;
      .btn-close{
        float: right;
        img {
          width: 25px;
        }
      }
      p {
        margin-bottom: 5px;
      }
    }
  }

  @media (max-width: 530px) {
    .characterDetails-container {
    flex-direction: column;
    img{
      width: 100%;
      border-radius: 2px 2px 0 0;
    }
    .characterDetails-info {
      width: 100%;
      border-radius: 0 0 2px 2px;
      .characterDetails-infoBox{
        display: flex;
        > div {
          margin-right: 20px;
        }
      }
    }
    }
  }
}


