.loading {
  margin-top: 15vh;
  img {
    display: block;
    margin: 0 auto;
    max-width: 100vw;
  }
}

.characters {
  margin: 20px 0;
  .charactersList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, auto));
    margin: 0 auto;
    width: 70vw;
    .charactersContainer{
      margin: 10px;
      padding: 5px;
      border: 2px solid yellow;
      border-radius: 2px;
      img {
        max-width: 100%;
        border-radius: 2px 2px 0 0;
      }
      .charactersInfo {
        background-color: #fff;
        border-radius: 0 0 2px 2px;
        padding: 10px;
        height: 75px;
        h3 {
          font-family: "jedi";
          margin-bottom: 5px;
          height: 35px;
        }
      }
    }
  }
  .btn-viewMore {
    background-color: transparent;
    border: 2px solid yellow;
    padding: 5px 15px;
    color: #fff;
    margin: 15px auto;
    display: block;
  }

  @media (max-width: 1024px) {
    .charactersList {
      width: 100vw;
    }
  }

  @media (min-width: 1543px) {
    .charactersList {
      width: 60vw;
    }
  }
  @media (min-width: 1800px) {
    .charactersList {
      width: 50vw;
    }
  }

  @media (min-width: 2160px) {
    .charactersList {
      width: 90vw;
      margin-top: 10vh;
    }
  }
}

.characterDetails{
  margin: 20px 0;
  .characterDetails-container {
    padding: 5px;
    border: 2px solid yellow;
    border-radius: 2px;
    display: flex;
  }
}


