.App {
  text-align: center;
  background-color: #010059;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);


}

.App-header-img {
  width:40%;
  height:40%;
  padding: 30px
}

.App-link {
  color: #61dafb;
}

.App-div{
  color: yellow;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 2;
  padding: 20px;
  background-color: black;

}

.card-details{
  margin-bottom: 19px;
  margin-top: 19px;
  font-size: 24px;
}

.card {
  margin: 10% 10%;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
